
              <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
							 <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Add Details<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                 <li>
                                    <a href="adddepartment.html">Add Department</a>
                                </li>
                                <li>
                                    <a href="addcourse.html">Add Courses</a>
                                </li>
 <li>
                                    <a href="addsubject.html">Add Subject</a>
                                </li>
                                <li>
                                    <a href="viewsubs.html">View Departments</a>
                                </li>
  <li>
                                    <a href="addfee.html">Add Fee</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Attendance<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="addattendance.html">Add and View Attendance</a>
                                </li>
                                 <li>
                                    <a href="resetatt.html">Reset Attendance</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
							
                        </li>  
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Marks<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="marks.html">Add Marks</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                            
                        </li>  
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> User<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                                <li>
                                    <a href="addparent.html">Add Student</a>
					<a href="viewfeedback.html">View Feedbacks</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

             
