<!doctype html>
{%load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>


        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><p>ADMIN PAGE</p></a>
                <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png'%}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>

                    <h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
                     <li>
                        <a href="feedback.html"> <i class="menu-icon ti-book"></i>Give Feedback </a>
                    </li>
                    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
                    </li>
                   <li>
                        <a href="hi"> <i class="menu-icon ti-lock"></i>Logout </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
      
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


         <div class="card">
                                  
                                    <div class="card-body">
 <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-user"></i><strong class="card-title pl-2">Profile </strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="{% static 'images/admin.jpg' %}" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">Student ID - {{user}}</h5>
                                    <div class="location text-sm-center"><i class="fa fa-map-marker"></i> Kristu Jayanti College</div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
        <div class="col-md-4">





 <div class="card">
                                <div class="card-header">
                                    <strong>Marks Information</strong>
                                    
                                </div>
                                <div class="card-body">
 {% for m in m %}
                                    <a href="#">Recent Exam Name - {{m.examname}}  </a>
                                    <br>
                                    <a href="#">Teacher Remarks - {{m.remarks}}  </a>
                                    <br>
                                    <a href="#">Average Marks - {{m.avmarks}} </a>
                                     {%endfor%}
                                </div>
                            </div>



 <div class="card">
                                <div class="card-header">
                                    <strong>Attendance Information</strong>
                                    
                                </div>
                                <div class="card-body">
 {% for m in att %}
                                    <a href="#">Average Attendance for Student {{user}} is {{m.avattendance}}% </a>
                                    
                                     {%endfor%}
                                </div>
                            </div>


                     
                    </div>
                     

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <strong class="card-title text-light">Fee Details</strong>
                            </div>
                            <div class="card-body text-white bg-danger">
                                <p class="card-text text-light">fefefefefef</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <strong class="card-title text-light">Course Details</strong>
                            </div>
                            <div class="card-body text-white bg-danger">
                                <p class="card-text text-light">asdasdasdasdasdasd</p>
                            </div>
                        </div>
                    </div>
                      </div>
                    </div>

  <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Student Info</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                              <thead >
                                <tr>
                                  <th scope="col">Parent Name</th>
                                  <th scope="col">Student Name</th>
                                  <th scope="col">Gender</th>
                                  <th scope="col">Department</th>
                                  <th scope="col">Course</th>
                                  <th scope="col">Semester</th>
                                  <th scope="col">Adm No</th>
                                  <th scope="col">Email ID</th>
                                  <th scope="col">Contact No</th>
                                  <th scope="col">Join Date</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                {% for i in f%}
                                <tr>
                                  <td>{{i.parentname}}</td>
                                   <td>{{i.std_name}}</td>
                                  <td>{{i.gender}}</td>
                                  <td>{{i.deptname}}</td>
                                  <td>{{i.coursename}}</td>
                                  <td>{{i.semester}}</td>
                                  <td>{{i.admno}}</td>
                                  <td>{{i.emailid}}</td>
                                  <td>{{i.contactno}}</td>
                                  <td>{{i.joindate}}</td>
                                </tr>
                                {%endfor%}
                              </tbody>
                            </table>

                        </div>
                    </div>
                </div>







                  <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Attendance For Each Subjects</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                              <thead >
                                <tr>
                                  <th scope="col">Student ID</th>
                                  <th scope="col">Subject-1</th>
                                  <th scope="col">Subject-2</th>
                                  <th scope="col">Subject-3</th>
                                  <th scope="col">Subject-4</th>
                                  <th scope="col">Subject-5</th>
                                  <th scope="col">Subject-6</th>
                                  <th scope="col">Subject-7</th>
                                  
                                  
                                </tr>
                              </thead>
                              <tbody>
                                     {% for d in att%}
                                    
                                    <tr class="odd gradeX">
                    
                                        <td><span class="first-letter">{{d.studentname}}</span></td>
                                        
                                        <td><span class="first-letter">{{d.attsub1}}</span></td>
                                        {%if d.attsub2 != "" %}
                                        <td><span class="first-letter">{{d.attsub2}}</span></td>
                                                                                {%endif%}

                                        {%if d.attsub3 != "" %}
                                       <td><span class="first-letter">{{d.attsub3}}</span></td>
                                                                               {%endif%}

                                        {%if d.attsub4 != "" %}
                                        <td><span class="first-letter">{{d.attsub4}}</span></td>
                                        {%endif%}
                                                                                {%if d.attsub5 != "" %}

                                         <td><span class="first-letter">{{d.attsub5}}</span></td>
                                                                                {%endif%}

                                                                                {%if d.attsub6 != "" %}

                                        <td><span class="first-letter">{{d.attsub6}}</span></td>
                                                                                              {%endif%}
                                                                                        {%if d.attsub7 != "" %}

                              <td><span class="first-letter">{{d.attsub7}}</span></td>
                                        {%endif%}

                    <td>  

                                       {%endfor%}
                                    </tr>
          
                            
                                   
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>



 

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>
</html>
